
// Contact Section

#contact {
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: $gray-darker;
    background-position: center;
    color: $gray-light;
    .contact-content {
        text-align: center;
        p {
            overflow: hidden;
            text-overflow: ellipsis;

            font-size: 2em;
            @include serif-font;
        }
    }
    .section-heading {
        color: white;
    }
}

