
// Contact Section

#contact {
    background-color: $gray-darker;
    background-position: center;
    color: $gray-light;
    overflow: hidden;
    text-overflow: ellipsis;
    .section-heading {
        color: white;
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
       @include heading-font;
       font-weight: 700;
       color: $gray-light;
    }
    :-moz-placeholder { /* Firefox 18- */
       @include heading-font;
       font-weight: 700;
       color: $gray-light;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       @include heading-font;
       font-weight: 700;
       color: $gray-light;
    }
    :-ms-input-placeholder {
       @include heading-font;
       font-weight: 700;
       color: $gray-light;
    }
    .text-danger {
        color: $theme-danger;
    }
    .contact-info {
      margin-bottom: 5em;
    }
}
