// Custom Navigation Bar

.navbar-custom {
    background-color: $gray-darker;
    border-color: transparent;
    box-shadow: $md-whiteframe-3dp;
    .navbar-brand {
        color: $theme-primary;
        @include script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: darken($theme-primary, 15%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $gray-darker;
        border: none;
        @include heading-font;
        color: white;
        font-size: 1.2em;
        padding: 0.4em 0.8em;
        &:hover,
        &:focus {
            background-color: $gray;
        }
    }
    .nav {
        li {
            a {
                @include heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: $theme-primary;
                &:hover {
                  color: white;
                }
                &:focus {
                  z-index: 2; // fix border not showind correctly
                  color: $theme-primary;
                  outline: none;
                  margin: -0.15em;
                  border: 0.15em solid royalblue;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $gray-darker;
        &:hover {
          color: white;
          background-color: $gray-darker;
        }
        &:focus {
          color: white;
          background-color: $gray-darker;
        }
    }
    .nav-background-layer {
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.48);
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 125%;
        width: 100%;
        transition: opacity 300ms ease-in;
      
    }
}
