// Custom Navigation Bar

.navbar-custom {
    background-color: $gray-darker;
    border-color: transparent;
    .navbar-brand {
        color: $theme-primary;
        @include script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: darken($theme-primary, 15%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include heading-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $theme-primary;
        }
    }
    .nav {
        li {
            a {
                @include heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: $theme-primary;
                &:hover {
                  color: white;
                }
                &:focus {
                  z-index: 2; // fix border not showind correctly
                  color: $theme-primary;
                  outline: none;
                  margin: -0.15em;
                  border: 0.15em solid royalblue;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $gray-darker;
        &:hover {
          color: white;
          background-color: $gray-darker;
        }
        &:focus {
          color: white;
          background-color: $gray-darker;
        }
    }
}
